@page "/colourjustifications/index"
@inherits ColourJustificationBasePageClass

<PageTitle>Colour Justifications</PageTitle>

<a href="/colourjustification/create" class="btn btn-primary">Create Colour Justification</a>

<br />
<br />

@if (ColourJustificationDTOs == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour Justifications...</MudAlert>
    return;
}

@if (ColourJustificationDTOs.Count == 0)
{
    <MudAlert Severity="Severity.Warning" ContentAlignment="HorizontalAlignment.Center">No Colour Justifications found.</MudAlert>
    return;
}

<MudTable Items="ColourJustificationDTOs"
          SortLabel="SortBy"
          Hover
          RowsPerPage="10"
          FixedHeader
          Height="700">
    <HeaderContent>
        <MudTh title="Sort by Justification">
            <MudTableSortLabel SortBy="new Func<ColourJustificationDTO, object>(x => x.Justification)">
                Justification
            </MudTableSortLabel>
        </MudTh>
        <MudTh title="Sort by Widget Count">
            <MudTableSortLabel SortBy="new Func<ColourJustificationDTO, object>(x => x.WidgetCount)">
                Widgets
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.Justification</MudTd>
        <MudTd>@context.WidgetCount</MudTd>
        <MudTd>
            <a class="btn btn-primary" href="/colourjustification/view/@context.ColourJustificationId">View</a>
            @if (context.WidgetCount == 0)
            {
                @:&nbsp;
                <a class="btn btn-primary" href="/colourjustification/edit/@context.ColourJustificationId">Edit</a>
            }            
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5, 10, 25, 50, 100, int.MaxValue }" />
    </PagerContent>
</MudTable>


