@using ManufacturerManagerUI.Models

<DataAnnotationsValidator />
<ValidationSummary />

<div class="form-group">
    <label for="Name">Justification</label>
    <InputText id="Name" class="form-control" @bind-Value="ColourJustificationDTO.Justification" />
</div>
<br />