@using ManufacturerManagerUI.Models

<DataAnnotationsValidator />
<ValidationSummary />

<div class="form-group">
    <label for="Name">Name</label>
    <InputText id="Name" class="form-control" @bind-Value="ColourDTO.Name" />
</div>
<br />