@page "/manufacturer/view/{ManufacturerId:int}"
@inherits ManufacturerBasePageClass


<PageTitle>View Manufacturer</PageTitle>

<h3>View Manufacturer</h3>

<br />

@if (ManufacturerDTO is null)
{
    <p><em>Loading...</em></p>
    return;
}

<table class="table table-striped">
    <tbody>
        <tr>
            <th>Manufacturer</th>
            <td>@ManufacturerDTO.Name</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>@ManufacturerDTO.StatusName</td>
        </tr>
        <tr>
            <th>Widgets</th>
            <td>
                @ManufacturerDTO.WidgetCount
                @if (ManufacturerDTO.WidgetCount > 0)
                {
                    <DisplayWidgetListComponent WidgetDTOs="WidgetDTOs" />
                }
            </td>
        </tr>
    </tbody>
</table>

<br />

<a href="/manufacturer/edit/@ManufacturerDTO.ManufacturerId" class="btn btn-primary">Edit</a>
&nbsp;
<a href="/manufacturers/index" class="btn btn-secondary">Back to List</a>