@page "/manufacturer/view/{ManufacturerId:int}"
@inherits ManufacturerBasePageClass

<PageTitle>View Manufacturer</PageTitle>

<br />

@if (ManufacturerDTO is null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Manufacturer...</MudAlert>
    return;
}

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Manufacturer">
                        <MudField Label="Manufacturer">@ManufacturerDTO.Name</MudField>
                        <MudField Label="Status">@ManufacturerDTO.StatusName</MudField>
                        <MudField Label="Widgets">@ManufacturerDTO.WidgetCount</MudField>
                    </MudTabPanel>
                    @if (ManufacturerDTO.WidgetCount > 0)
                    {
                        <MudTabPanel Text="Widgets">
                            <DisplayWidgetListComponent WidgetDTOs="WidgetDTOs" />
                        </MudTabPanel>
                    }
                </MudTabs>
            </MudCardContent>
            <MudCardActions>
                <a href="/manufacturer/edit/@ManufacturerDTO.ManufacturerId" class="btn btn-primary">Edit</a>
                &nbsp;
                <a href="/manufacturers/index" class="btn btn-secondary">Back to List</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>