@page "/colour/create"
@inherits ColourBasePageClass

<PageTitle>Create Colour</PageTitle>

<h3>Create Colour</h3>

<EditForm Model="@ColourDTO" OnValidSubmit="CreateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateEditColourComponent ColourDTO="@ColourDTO" />
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Create</button>
                    &nbsp;
                    <a href="/colours/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>