@page "/colour/edit/{ColourId:int}"
@inherits ColourBasePageClass

<PageTitle>Edit Colour</PageTitle>

@if (ColourDTO == null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour...</MudAlert>
    return;
}

@if (ColourDTO.WidgetCount > 0)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Cannot edit colour @ColourDTO.Name as it has Widgets associated with it.</MudAlert>
    <br />
    <a href="/colours/index" class="btn btn-secondary">Back to List</a>
    return;
}

<EditForm Model="@ColourDTO" OnValidSubmit="UpdateColour">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <CreateEditColourComponent ColourDTO="@ColourDTO" />
                <MudCardActions>
                    <input type="submit" class="btn btn-primary" value="Update" />
                    &nbsp;
                    <a href="/colours/index" class="btn btn-secondary">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>    

</EditForm>