@page "/colour/view/{ColourId:int}"
@inherits ColourBasePageClass

<PageTitle>View Colour</PageTitle>

<br />

@if (ColourDTO is null)
{
    <MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">Loading Colour or Colour not found...</MudAlert>
    return;
}

<MudGrid>
    <MudItem sm="7">
        <MudCard>
            <MudCardContent>
                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                    <MudTabPanel Text="Colour">
                        <MudField Label="Name">@ColourDTO.Name</MudField>
                        <MudField Label="Widgets">@ColourDTO.WidgetCount</MudField>
                    </MudTabPanel>
                    @if (ColourDTO.WidgetCount > 0)
                    {
                        <MudTabPanel Text="Widgets">
                            <DisplayWidgetListComponent WidgetDTOs="WidgetDTOs" />
                        </MudTabPanel>
                    }
                </MudTabs>
            </MudCardContent>
            <MudCardActions>
                @if (ColourDTO.WidgetCount == 0)
                {
                    <a href="colour/edit/@ColourDTO.ColourId" class="btn btn-primary">Edit</a>
                    @:&nbsp;
                }
                <a href="/colours/index" class="btn btn-secondary">Back to List</a>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>